{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}
<section class="imageLead">
    {% include ['custom/_index.html', 'home/_index.html'] ignore missing %}
    {% if historical_contributions %}
        {% set title = _('Historical Contributions') %}
        {{ helper.render_grid_projects(historical_contributions, title, upload_method, current_user, section_class='home projects', title_size='2') }}
    {% endif %}
    {% if featured %}
        {% set title = _('Featured Projects') %}
        {{ helper.render_grid_projects(featured, title, upload_method, current_user, section_class='home projects', readmore_text='Contribute', title_size='2') }}
    {% endif %}
</section>
{% endblock %}
