{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}
    {% include ['custom/_index.html', 'home/_index.html'] ignore missing %}
    {% if historical_contributions %}
        {{ helper.render_grid_projects(historical_contributions, 'Historical Contributions', upload_method, current_user, section_class='home projects', title_size='2') }}
    {% endif %}
    {% if featured %}
        {{ helper.render_grid_projects(featured, 'Featured Projects', upload_method, current_user, section_class='home projects', readmore_text='Contribute', title_size='2') }}
    {% endif %}
{% endblock %}
