<section class="home about">
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="row">
              <h1>{{ _("BioAtlas Citizen Science") }}</h1>
              </br>
              <p class="text-justify">{{ _("The work with our natural history collections has traditionally been done through the cooperation of museum curators, taxonomic experts and enthusiastic volunteers. In the BioAtlas citizen science projects, we expand and develop this collaboration further, and enable collection of larger amounts of data. BioAtlas brings together various digitization projects, with the aim of improving museum collections with geographical data and link coordinates to each specimen.") }}</p>

              <p class="text-justify">{{ _("Coordinate information provides important information about our museum objects. It is required for analyses of locality data that further our understanding of individual species distribution patterns and the biological diversity of fungi. Here you can help improve this knowledge by assigning coordinates to our observation records, and each contribution is an important piece of the puzzle! The coordinates will be included in our botanical database and used in further research and conservation biology monitoring programs.") }}</p>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-4">
                  <div class="thumbnail card">
                        <img src="/static/img/about-1.png"/>
                        <p class="text-justify">{{ _("This is what a specimen can look like in our collections. A fungal parasite on leaves collected by A.G. Eliasson at Grindstugan in Uppsala in 1895. Today it is not as easy to find the place for the Grindstugan inn, since the building was demolished 50 years ago and the Rosendal district has now grown up.") }}</p>
                  </div>
                </div>
            </div>
            <div class="row">
                <h3>{{ _("Who we are :") }}</h3>
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6" style="margin-top:30px;" onError="this.onerror=null;this.src='/static/img/placeholder.user.png';">
                    <div>
                        <img class="col-xs-4 img-circle" src="/static/img/monika.png" onError="this.onerror=null;this.src='/static/img/placeholder.user.png';">
                    </div>
                    <div>
                        <h4>Monika Myrdal</h4>
                        <p>{{ _("I am a museum technician and responsible for the Museum of Evolution´s databases. In addition, I take care of our lending activities and send museum objects to researchers all over the world.") }}</p>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6" style="margin-top:30px;">
                    <div>
                        <img class="col-xs-4 img-circle" src="/static/img/asa.jpg" onError="this.onerror=null;this.src='/static/img/placeholder.user.png';">
                    </div>
                    <div>
                        <h4>Åsa Kruys</h4>
                        <p>{{ _("I am a curator and responsible for the Museum of Evolution´s collections of fungi. The fungal collections consist of about 360,000 specimens, of which almost half are digitized and available from our database.") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
