<section class="home featured">
    <div class="jumbotron">
        <div class="container text-center firstfold">
            {% if featured | count > 0 %}
            {% set featured_project = featured | random %}
            <h1>{{ featured_project.name }}</h1>
            <p>{{ featured_project.description }}</p>
            <a class="btn btn-primary" href="{{ url_for('project.details', short_name=featured_project.short_name)}}">{{_('Contribute')}}</a>
            {% else %}
            <h1>{{_('CUSTOM Welcome to ')}} {{brand}}</h1>
            <p>{{_("The ultimate crowdsourcing framework to analyze or enrich data that can't be processed by machines alone.")}}</p>
            {% endif %}
        </div>
    </div>
</section>
