<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> {% if brand == title %}
    <title>{{ title }}</title>
    {% else %}
    <title>{{ brand }} &middot; {{ title | safe}}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PYBOSSA is the ultimate crowdsourcing framework to analyze or enrich data that can't be processed by machines alone.">
    <meta name="author" content="Scifabric">

    <!-- Le styles -->
    {% assets filters="libsass", output="css/gen/pybossa.min.css", depends="sass/**/*.scss", "sass/_pybossa.scss"%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
    <link rel="stylesheet" type="text/css" href="https://static.biodiversitydata.se/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://static.biodiversitydata.se/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://static.biodiversitydata.se/css/ala-styles.min.css">
    <link rel="stylesheet" type="text/css" href="https://static.biodiversitydata.se/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.biodiversitydata.se/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.biodiversitydata.se/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.biodiversitydata.se/favicon-16x16.png">
    <link rel="manifest" href="https://static.biodiversitydata.se/site.webmanifest">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/sbdi.css">
    <link rel="stylesheet" type="text/css" href="https://static.biodiversitydata.se/css/app.css?DIGEST">
    <script src="https://static.biodiversitydata.se/js/jquery.min.js"></script>
    <script src="https://static.biodiversitydata.se/js/jquery-migration.min.js"></script>
    <script src="https://static.biodiversitydata.se/js/bootstrap.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Google Analytics or similar solutions -->
    {% include '_ga.html' ignore missing %}
    <!-- Google Custom Search -->
    {% include '_gcs.html' ignore missing %}
</head>

<body>
    {% set active_page = active_page | default('index') -%} {% set active_project = active_project | default('none') -%} {% include "_navbar.html" %} {% if not current_user.is_anonymous %}
    <!-- checkpoint::logged-in::{{current_user.name}} -->
    {% endif %} {% block content %}{% endblock %} {% include "_footer.html" %}
    <!-- Le javascript -->
    <script id="cookies_warning">
        window.cookieconsent_options = {
            "message": "Cookies help us to deliver our services. By using our services, you agree to our use of cookies.",
            "dismiss": "Got it!",
            "learnMore": "Learn More.",
            "link": "{{url_for('help.cookies_policy')}}",
            "theme": "dark-bottom"
        };
    </script>

    {% if not jstop %} {% assets filters="jsmin", output="js/gen/default.min.js", "js/vendor/modernizr.min.js", "js/flashmessages.js", "js/vendor/cookieconsent.min.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} {% endif %} {% block extrajs %} {% endblock %} {% include "_flash_messages.html" %}
    <script src="https://static.biodiversitydata.se/js/vendor.js?DIGEST"></script>
    <script src="https://static.biodiversitydata.se/js/app.js?DIGEST"></script>
    <script>require('js/init');</script>
</body>
</html>
