<! -- Fix for Bootstrap css with Google Maps https://github.com/twitter/bootstrap/issues/1552 -->
<style type="text/css">
    .map_canvas label {
        width: auto;
        display: inline;
    }

    .map_canvas img {
        max-width: none;
    }

    .layersDiv label {
        color: white;
    }

    .form-control {
        height: 35px;
    }
</style>
<link rel="stylesheet" href="/static/map-extra/leaflet.css" />
<link rel="stylesheet" href="/static/map-extra/leaflet.draw.css" />
<link rel="stylesheet" href="/static/map-extra/leaflet-measure.css" />
<link rel="stylesheet" href="/static/map-extra/coordinates/Leaflet.Coordinates-0.1.4.css" />
<link rel="stylesheet" href="/static/map-extra/coordinates/Leaflet.Coordinates-0.1.4.ie.css" />
<script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/map-extra/leaflet-src.js"></script>
<script src="/static/map-extra/Leaflet.draw.js"></script>
<script src="/static/map-extra/Leaflet.Draw.Event.js"></script>
<script src="/static/map-extra/Toolbar.js"></script>
<script src="/static/map-extra/Tooltip.js"></script>
<script src="/static/map-extra/Control.Draw.js"></script>
<script src="/static/map-extra/leaflet-measure.js"></script>
<script src="/static/map-extra/ext/GeometryUtil.js"></script>
<script src="/static/map-extra/ext/LatLngUtil.js"></script>
<script src="/static/map-extra/ext/LineUtil.Intersect.js"></script>
<script src="/static/map-extra/ext/Polygon.Intersect.js"></script>
<script src="/static/map-extra/ext/Polyline.Intersect.js"></script>
<script src="/static/map-extra/ext/TouchEvents.js"></script>
<script src="/static/map-extra/draw/DrawToolbar.js"></script>
<script src="/static/map-extra/draw/handler/Draw.Feature.js"></script>
<script src="/static/map-extra/draw/handler/Draw.SimpleShape.js"></script>
<script src="/static/map-extra/draw/handler/Draw.Polyline.js"></script>
<script src="/static/map-extra/draw/handler/Draw.Marker.js"></script>
<script src="/static/map-extra/draw/handler/Draw.Circle.js"></script>
<script src="/static/map-extra/draw/handler/Draw.CircleMarker.js"></script>
<script src="/static/map-extra/draw/handler/Draw.Polygon.js"></script>
<script src="/static/map-extra/draw/handler/Draw.Rectangle.js"></script>
<script src="/static/map-extra/edit/EditToolbar.js"></script>
<script src="/static/map-extra/edit/handler/EditToolbar.Edit.js"></script>
<script src="/static/map-extra/edit/handler/EditToolbar.Delete.js"></script>
<script src="/static/map-extra/edit/handler/Edit.Poly.js"></script>
<script src="/static/map-extra/edit/handler/Edit.SimpleShape.js"></script>
<script src="/static/map-extra/edit/handler/Edit.Rectangle.js"></script>
<script src="/static/map-extra/edit/handler/Edit.Marker.js"></script>
<script src="/static/map-extra/edit/handler/Edit.CircleMarker.js"></script>
<script src="/static/map-extra/edit/handler/Edit.Circle.js"></script>
<script src="/static/map-extra/wicket/wicket.js"></script>
<script src="/static/map-extra/wicket/wicket-leaflet.js"></script>
<script src="/static/map-extra/coordinates/Leaflet.Coordinates-0.1.4.min.js"></script>
<script src="/static/map-extra/map.common.js"></script>
<script src="/static/map-extra/leaflet-google.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJDtEeoy7Sc9pij2TAoVnmTwA34Q-2VHk" type="text/javascript"></script>
<script src="/static/map-extra/json2.js"></script>
<script src="/static/map-extra/jquery.serializejson.min.js" type="text/javascript"></script>
<div class="row">
    <div class="skeleton col-md-12">
        <!-- <p>Locality: <span id="task-id" class="label label-info">#</span></p> -->
        <div class="row" >
            <div class="col-md-8">
              <strong><span id="i18n_question">Click on the circle button to draw an area on the map</span></strong> <!-- The question will be loaded here -->
              <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-book"></i><span id="i18n_help">Help</span></button>
            </div>
        </div>
        <p>
        <div class="row">
            <div id="question" class="col-md-8">
                <div id="map"></div>
                <div>
                    <p><span id="i18n_tasks_completed">You have completed:</span> <span id="done" class="label label-info"></span> <span id="i18n_tasks_from">tasks from</span> <span id="total" class="label label-info"></span></p>
                    <div class="progress progress-striped">
                        <div id="progress" rel="tooltip" title="#" class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            <div id="answer" class="col-md-4">
                <form id="dataForm" role="form">
                    <div class="row">
                        <div class="form-group" style="display:none">
                            <label class="control-label" for=" dugnad">Dugnad</label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="dugnad" value="" name="dugnad" />
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="scientificName"><span id="i18n_scientificName">Scientific name</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="scientificName" value="" name="scientificName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="recordedBy"><span id="i18n_recordedBy">Collector</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="recordedBy" value="" name="recordedBy" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="recordNumber"><span id="i18n_recordNumber">Collectors number</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="recordNumber" value="" name="recordNumber" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="eventDate"><span id="i18n_eventDate"><span id="i18n_eventDate">Date</span></span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="eventDate" value="" name="eventDate" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="katalognummer"><span id="i18n_katalognummer">Catalog Number</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="katalognummer" value="" name="katalognummer" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for=" kollektID"><span id="i18n_kollektID">Kollekt ID</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="kollektID" value="" name="kollektID" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="stateProvince"><span id="i18n_stateProvince">Province</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="stateProvince" value="" name="stateProvince" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="county"><span id="i18n_county">Parish</span></label>
                            <input readonly="True" type="text" class="form-control form-control-sm" id="county" value="" name="county" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="locality"><span id="i18n_locality">Locality</span></label>
                        <input readonly="True" type="textarea" class="form-control form-control-sm" id="locality" name="locality" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="habitat"><span id="i18n_habitat">Habitat</span></label>
                        <input readonly="True" type="textarea" class="form-control form-control-sm" id="habitat" name="habitat" />
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="decimalLatitude"><span id="i18n_decimalLatitude">Latitude</span></label>
                            <input type="text" class="form-control form-control-sm" id="decimalLatitude" name="decimalLatitude" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" for="decimalLongitude"><span id="i18n_decimalLongitude">Longitude</span></label>
                            <input type="text" class="form-control form-control-sm" id="decimalLongitude" name="decimalLongitude" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="coordinateUncertaintyInMeters"><span id="i18n_coordinateUncertaintyInMeters">Uncertainity in meters(m)</span></label>
                            <input type="text" class="form-control form-control-sm" id="coordinateUncertaintyInMeters" name="coordinateUncertaintyInMeters" />
                        </div>
                        <div class="form-group col-md-6" style="display:none">
                            <label class="control-label" for="footprintWKT">FootprintWkt</label>
                            <input type="text" class="form-control form-control-sm" id="footprintWKT" name="footprintWKT" />
                        </div>
                    </div>
                    <input type="hidden" id="skipFlag" name="skipFlag"/>
                    <input type="hidden" id="skipReason" name="skipReason"/>
                </form>
                <div class="row">
                    <div class="col-md-6">
                        <button id="skipbtn" class="btn btn btn-primary" data-toggle="modal" data-target="#skipModal"><span id="i18n_skip">Skip</span></button>
                    </div>
                    <div class="col-md-6">
                        <button id="answerbtn" class="btn btn-primary btn-success btn-submit btn-block"><span id="i18n_save">Save</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h3><span id="i18n_help_heading">How to georeference a specimen record ?</span></h3>
            </div>

            <!-- Step 1 of the tutorial -->
            <div id="0" class="modal-body" style="display:none">
                <h4><span id="i18n_help_step_1">Step :1</span><h4>
                <p><span id="i18n_help_step_1_text">Find out where the place is using the information (<strong>landscape, parish, location</strong> and <strong>habitat</strong>) found in the gray fields.</span></p>
                <img src="/static/img/georef/help-step-1-1.png" />
            </div>

            <!-- Step 2 of the tutorial -->
            <div id="1" class="modal-body" style="display:none">
                <h4><span id="i18n_help_step_2">Step :2</span><h4>
                <p><span id="i18n_help_step_2_text_0">Use the tools in the upper left corner of the map to mark the correct location or area on the map.</span></p>
                <p><span id="i18n_help_step_2_text_1">The area on the map is marked with a circle, select the <strong>black circle</strong>.</span></p>

                <div class="row">
                   <div class="col-md-6">
                     <p><span id="i18n_help_step_2_text_2">The circle can be moved and resized with the <strong>pen symbol</strong> (place the mouse cursor on the white squares of the circle and drag).</span></p>
                   </div>
                   <div class="col-md-6">
                      <p><span id="i18n_help_step_2_text_3">The coordinates and their uncertainty are automatically filled in the respective white fields. </br>If an error occurs, the selection can be removed by selecting the dustbin.</span></p>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-6">
                      <img src="/static/img/georef/help-step-2-2.png" />
                   </div>
                   <div class="col-md-6">
                      <img src="/static/img/georef/help-step-2-3.png" />
                   </div>
                </div>
            </div>

            <!-- Step 3 of the tutorial -->
            <div id="2" class="modal-body" style="display:none">
                <h4><span id="i18n_help_step_3">Step :3</span><h4>
                <p><span id="i18n_help_step_3_text">Check that the <strong>latitude, longitude</strong> and <strong>uncertainty</strong> fields are filled in. </br>Press <strong>Save</strong> to save and move on to the next.</span></p>
                <img src="/static/img/georef/help-step-3-1.png" />
            </div>

            <!-- Step 4 of the tutorial -->
            <div id="3" class="modal-body" style="display:none">
                <h4><span id="i18n_help_step_4">Step :4</span><h4>
                <p><span id="i18n_help_step_4_text">You can skip a collection if the task is too difficult. </br>Press <strong>Skip</strong> and select from the following options: </br></br><strong>Incomplete location</strong> = if location information is missing, or is too vague </br><strong>Ambiguous location</strong> = if there are several locations in Uppland with the same name </br><strong>Other reasons</strong> = eg if you can not find the place.</span></p>
                <img src="/static/img/georef/help-step-4-1.png" />
            </div>

            <!-- End of stepped modal body -->
            <!-- Modal footer -->
            <div class="modal-footer">
                <a id="prevBtn" href="#" onclick="showStep('prev')" class="btn btn-primary btn-default"><span id="i18n_previous">Previous</span></a>
                <a id="nextBtn" href="#" onclick="showStep('next')" class="btn btn-primary btn-success"><span id="i18n_next">Next</span></a>
                <button id="closeBtn" data-dismiss="modal" onclick="showStep('finish')" class="btn btn-primary" style="display:none"><span id="i18n_back">Back to task</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="skipModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h3><span id="i18n_skipSelectText">Select your reason for skipping the task</span></h3>
            </div>
            <div class="modal-body">
              <select name="skipReasons" id="skipReasons">
                <option id="i18n_incomplete_location" value="incomplete_location"></option>
                <option id="i18n_ambiguous" value="ambiguous_location"></option>
                <option id="i18n_others" value="others"></option>
              </select>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="skipCancelBtn" data-dismiss="modal" onclick="cancelSkip()" class="btn btn-primary"><span id="i18n_cancel">Cancel</span></button>
                <button id="skipOKBtn" data-dismiss="modal" onclick="okSkip()" class="btn btn-primary btn-success btn-submit"><span id="i18n_skipconfirm">Skip</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Client side scripts -->
<script>
    // Quick fix for IE8
    Modernizr.load({
        test: window.JSON,
        nope: '/static/js/vendor/json2.min.js'
    });
</script>

<!-- Step through modals -->
<script type="text/javascript">
    var step = -1;

    function showStep(action) {
        $("#" + step).hide();
        if (action == 'next') {
            step = step + 1;
        }
        if (action == 'prev') {
            step = step - 1;
        }
        if (step == 0) {
            $("#prevBtn").hide();
        } else {
            $("#prevBtn").show();
        }

        // this line below needs to match the id of the last modal div. If you have 4 divs, you need to
        // change this to step = 3 and if you have 2 you would say step = 1. Id starts at 0.

        if (step == 3) {
            $("#nextBtn").hide();
            $("#closeBtn").show();
        }
        if (action == 'finish') {
            step = 0;
            $("#closeBtn").hide();
            $("#prevBtn").hide();
            $("#nextBtn").show();
        }
        $("#" + step).show();
    }
    showStep('next');

    function cancelSkip(){
      $("#skipFlag").val(false);
      $("#skipReason").val("");
    }

    function okSkip(){
      $("#skipFlag").val(true);
      $("#skipReason").val($("#skipReasons").val());
    }

</script>

<!-- PyBossa interface -->
<script type="text/javascript">
    var MAP_VAR = {};
    (function() {
        // Default language
        var userLocale = "en";
        // Translations
        var messages = {"en": {
                                "i18n_working_task": "You are working now on task:",
                                "i18n_tasks_completed": "You have completed:",
                                "i18n_tasks_from": "tasks from",
                                "i18n_question": "Click on the circle button to draw an area on the map",
                                "i18n_help": "Help",
                                "i18n_skip": "Skip",
                                "i18n_save": "Save",
                                "i18n_next": "Next",
                                "i18n_previous": "Previous",
                                "i18n_back": "Back to task",
                                "i18n_cancel": "Cancel",
                                "i18n_skipconfirm": "Skip",
                                "i18n_scientificName": "Scientific name",
                                "i18n_recordedBy": "Collector",
                                "i18n_recordNumber": "Collectors number",
                                "i18n_eventDate": "Date",
                                "i18n_katalognummer": "Catalog Number",
                                "i18n_kollektID": "Kollekt ID",
                                "i18n_stateProvince": "Province",
                                "i18n_county": "Parish",
                                "i18n_locality": "Locality",
                                "i18n_habitat": "Habitat",
                                "i18n_decimalLatitude": "Latitude",
                                "i18n_decimalLongitude": "Longitude",
                                "i18n_coordinateUncertaintyInMeters": "Uncertainity in meters(m)",
                                "i18n_skipSelectText": "Select your reason for skipping the task",
                                "i18n_incomplete_location": "Incomplete location",
                                "i18n_ambiguous": "Ambiguous location",
                                "i18n_others": "Other reasons",
                                "i18n_help_heading": "How to georeference a specimen record ?",
                                "i18n_help_step_1": "Step :1",
                                "i18n_help_step_2": "Step :2",
                                "i18n_help_step_3": "Step :3",
                                "i18n_help_step_4": "Step :4",
                                "i18n_help_step_1_text": "Find out where the place is using the information (<strong>landscape, parish, location</strong> and <strong>habitat</strong>) found in the gray fields.",
                                "i18n_help_step_2_text_0": "Use the tools in the upper left corner of the map to mark the correct location or area on the map.",
                                "i18n_help_step_2_text_1": "The area on the map is marked with a circle, select the <strong>black circle</strong>.",
                                "i18n_help_step_2_text_2": "The circle can be moved and resized with the <strong>pen symbol</strong> (place the mouse cursor on the white squares of the circle and drag).",
                                "i18n_help_step_2_text_3": "The coordinates and their uncertainty are automatically filled in the respective white fields. </br>If an error occurs, the selection can be removed by selecting the dustbin.",
                                "i18n_help_step_3_text": "Check that the <strong>latitude, longitude</strong> and <strong>uncertainity</strong> fields are filled in. </br>Press <strong>Save</strong> to save and move on to the next.",
                                "i18n_help_step_4_text": "You can skip a collection if the task is too difficult. </br>Press <strong>Skip</strong> and select from the following options: </br></br><strong>Incomplete location</strong> = if location information is missing, or is too vague </br><strong>Ambiguous location</strong> = if there are several locations in Uppland with the same name </br><strong>Other reasons</strong> = eg if you can not find the place."
                              },
                        "sv": {
                                "i18n_tasks_completed": "Du har slutfört :",
                                "i18n_tasks_from": "uppgifter från",
                                "i18n_question": "Välj den svarta pricken för att markera en cirkel på kartan",
                                "i18n_help": "Hjälp",
                                "i18n_skip": "Hoppa över",
                                "i18n_save": "Spara",
                                "i18n_next": "Nästa",
                                "i18n_previous": "Föregående",
                                "i18n_back": "Återgå till uppgift",
                                "i18n_cancel": "Avbryt",
                                "i18n_skipconfirm": "Hoppa över",
                                "i18n_scientificName": "Vetenskapligt namn",
                                "i18n_recordedBy": "Insamlare",
                                "i18n_recordNumber": "Insamlingsnummer",
                                "i18n_eventDate": "Insamlingsdatum",
                                "i18n_katalognummer": "Katalognummer",
                                "i18n_kollektID": "Kollekt ID",
                                "i18n_stateProvince": "Landskap",
                                "i18n_county": "Socken",
                                "i18n_locality": "Lokal",
                                "i18n_habitat": "Habitat",
                                "i18n_decimalLatitude": "Latitud",
                                "i18n_decimalLongitude": "Longitud",
                                "i18n_coordinateUncertaintyInMeters": "Osäkerhet i meter(m)",
                                "i18n_skipSelectText": "Välj din anledning till att hoppa över uppgiften",
                                "i18n_incomplete_location": "Ofullständig lokalangivelse",
                                "i18n_ambiguous": "Tvetydig lokalangivelse",
                                "i18n_others": "Annan orsak",
                                "i18n_help_heading": "Hur du koordinatbestämmer en kollekt ?",
                                "i18n_help_step_1": "Steg :1",
                                "i18n_help_step_2": "Steg :2",
                                "i18n_help_step_3": "Steg :3",
                                "i18n_help_step_4": "Steg :4",
                                "i18n_help_step_1_text": "Ta reda på var platsen ligger med hjälp av informationen (<strong>landskap, socken, lokal</strong> och <strong>habitat</strong>) som finns i de grå fälten.",
                                "i18n_help_step_2_text_0": "Använd verktygen i kartans övre vänstra hörn för att markera rätt plats eller område på kartan.",
                                "i18n_help_step_2_text_1": "Området på kartan markeras med en cirkel, välj den <strong>svarta pricken</strong>.",
                                "i18n_help_step_2_text_2": "</br>Cirkeln kan flyttas och ändra storlek med <strong>penn-symbolen</strong> (placera musens markör på cirkelns vita kvadrater och dra).",
                                "i18n_help_step_2_text_3": "</br>Koordinaterna samt deras osäkerhet fylls automatiskt i respektive vita fält. </br>Om det blir fel kan markeringen tas bort genom att välja <strong>soptunnan</strong>.",
                                "i18n_help_step_3_text": "Kontrollera att fält för latitud, longitud och osäkerhet är ifyllda. </br>Tryck på <strong>Spara</strong> om du vill spara och gå vidare till nästa.",
                                "i18n_help_step_4_text": "Du kan hoppa över en kollekt om uppgiften är för svår. </br>Tryck på <strong>Hoppa över</strong> och välj bland följande alternativ: </br></br><strong>Ofullständig lokalangivelse</strong> = om lokaluppgifter saknas, eller är alltför vaga </br><strong>Tvetydig lokalangivelse</strong> = om det finns flera lokaler i Uppland med samma namn </br><strong>Annan orsak</strong> = tex om du inte hittar platsen"
                              }
                       };
        // Update userLocale with server side information
         $(document).ready(function(){
             userLocale = document.getElementById('PYBOSSA_USER_LOCALE').textContent.trim();

        });

        function i18n_translate() {
            var ids = Object.keys(messages[userLocale])
            for (i=0; i<ids.length; i++) {
                console.log("Translating: " + ids[i]);
                if (document.getElementById(ids[i])) {
                    document.getElementById(ids[i]).innerHTML = messages[userLocale][ids[i]];
                }
            }
        }

        function loadUserProgress() {
            pybossa.userProgress('{{project.short_name}}').done(function(data) {
                $("#total").text(data.total);
                $("#done").text(data.done);
                var pct = Math.round((data.done * 100) / data.total);
                $("#progress").css("width", pct.toString() + "%");
                $("#progress").attr("title", pct.toString() + "% completed!");
                //$("#progress").tooltip({ 'placement': 'left' });
            });
        }

        pybossa.taskLoaded(function(task, deferred) {
            if (!$.isEmptyObject(task)) {
                loadUserProgress();
                deferred.resolve(task);
            } else {
                deferred.resolve(task);
            }
        });

        pybossa.presentTask(function(task, deferred) {
            if (!$.isEmptyObject(task)) {
                i18n_translate();
                if (task.state == 'completed') {
                    pybossaNotify("This task has been completed.", true, "info");
                }
                var div_map = $("<div/>", {
                    'id': "map_" + task.id,
                    'class': 'map_canvas'
                });
                div_map.css("height", "700px");
                div_map.css("display", "none");

                // We need to append the div element asap otherwise OpenLayers will fail
                $("#map").append(div_map);

                var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
                var osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';
                var defaultBaseLayer = L.tileLayer(osmUrl, {
                    //maxZoom: 20,
                    attribution: osmAttrib
                });

                // Global var to store map config
                MAP_VAR = {
                    map: null,
                    defaultLatitude: "59.858",
                    defaultLongitude: "17.638",
                    defaultZoom: "11",
                    overlays: {},
                    layerControl: null,
                    baseLayers: {
                        "OpenStreetMap": defaultBaseLayer,
                        "Road": new L.Google('ROADMAP'),
                        "Terrain": new L.Google('TERRAIN'),
                        "Satellite": new L.Google('HYBRID')
                    },
                };

                MAP_VAR.map = new L.Map('map_' + task.id, {
                    center: new L.LatLng(MAP_VAR.defaultLatitude, MAP_VAR.defaultLongitude),
                    zoom: MAP_VAR.defaultZoom
                });

                //add edit drawing toolbar
                // Initialise the FeatureGroup to store editable layers
                MAP_VAR.drawnItems = new L.FeatureGroup();
                MAP_VAR.map.addLayer(MAP_VAR.drawnItems);

                // Initialise the draw control and pass it the FeatureGroup of editable layers
                MAP_VAR.drawControl = new L.Control.Draw({
                    edit: {
                        featureGroup: MAP_VAR.drawnItems
                    },
                    draw: {
                        polyline: false,
                        rectangle: false,
                        circle: {
                            shapeOptions: {
                                color: '#eb6534'
                            }
                        },
                        marker: false,
                        polygon: false,
                        circlemarker: false
                    }
                });
                MAP_VAR.map.addControl(MAP_VAR.drawControl);

                MAP_VAR.map.on('draw:created', function(e) {
                    //setup onclick event for this object
                    var layer = e.layer;
                    MAP_VAR.drawnItems.clearLayers();
                    georeference(layer);
                    //generatePopup(layer, layer._latlng);
                    MAP_VAR.drawnItems.addLayer(layer);
                    //addClickEventForVector(layer);
                });

                MAP_VAR.map.on('draw:edited', function(e) {
                    //setup onclick event for this object
                    var layers = e.layers;
                    layers.eachLayer(function(layer) {
                        //MAP_VAR.drawnItems.clearLayers();
                        georeference(layer);
                        //generatePopup(layer, layer._latlng);
                        MAP_VAR.drawnItems.addLayer(layer);
                        //addClickEventForVector(layer);
                    });
                });

                MAP_VAR.map.on('draw:deleted', function(e) {
                    //setup onclick event for this object
                    var layer = e.layer;
                    removeLayer(layer);
                    setGeoreferenceonUI();
                    MAP_VAR.drawnItems.clearLayers();
                });

                //add the default base layer
                MAP_VAR.map.addLayer(defaultBaseLayer);

                L.control.coordinates({
                    position: "bottomright",
                    useLatLngOrder: true
                }).addTo(MAP_VAR.map); // coordinate plugin

                MAP_VAR.layerControl = L.control.layers(MAP_VAR.baseLayers, MAP_VAR.overlays, {
                    collapsed: true,
                    position: 'topright'
                });
                MAP_VAR.layerControl.addTo(MAP_VAR.map);

                L.Util.requestAnimFrame(MAP_VAR.map.invalidateSize, MAP_VAR.map, !1, MAP_VAR.map._container);
                L.Browser.any3d = false; // FF bug prevents selects working properly

                $("#skipFlag").val(false);
                $("#skipReason").val("");
                $("#question h1").text(task.info.question);
                $("#task-id").text(task.id);
                $("#dugnad").val(task.info.dugnad);
                $("#kollektID").val(task.info.kollektID);
                $("#katalognummer").val(task.info.katalognummer);
                $("#scientificName").val(task.info.taxon);
                $("#recordedBy").val(task.info.insamlare);
                $("#recordNumber").val(task.info.insamlingsnummer);
                $("#eventDate").val(task.info.datum);
                $("#stateProvince").val(task.info.landskap);
                $("#county").val(task.info.socken);
                $("#locality").val(task.info.lokal);
                $("#habitat").val(task.info.habitat);
                $("#decimalLatitude").val(task.info.decimalLatitude);
                $("#decimalLongitude").val(task.info.decimalLongitude);
                $("#coordinateUncertaintyInMeters").val(task.info.coordinateUncertaintyInMeters);
                $("#footprintWKT").val(task.info.footprintWKT);
                $("#map_" + task.id).show();
                $(".btn-submit").off('click').on('click', function(evt) {
                    var answer = $("#dataForm").serializeJSON();
                    if (answer.skipFlag === "true" ){
                        answer.decimalLatitude ="";
                        answer.decimalLongitude ="";
                        answer.coordinateUncertaintyInMeters ="";
                        pybossa.saveTask(task.id, answer).done(function(data) {
                            $("#map_" + task.id).remove();
                        });
                        deferred.resolve();
                        //console.log(answer);
                    }else {
                       if (!(answer.decimalLatitude === "" ||  answer.decimalLongitude === "")){
                          pybossa.saveTask(task.id, answer).done(function(data) {
                                $("#map_" + task.id).remove();
                            });
                            deferred.resolve();
                            //console.log(answer);
                       }else {
                            alert("Ofullständig uppgift! Vänligen georeferens eller hoppa över!")
                       }
                    }
                });
            } else {
                $(".skeleton").hide();
                pybossaNotify("Tack! Du har deltagit i alla tillgängliga uppgifter.", true, "info");
            }
        });

        pybossa.run('{{project.short_name}}');
    })();
</script>
